html,
body {
    margin: 0px;
    padding: 0px;

    font-family: 'Bangers', cursive;

}

.navegation ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;

}

.navegation {
    height: 5px;
    background-color: #011627;
    color: white;
    height: 50px;

    animation-name: navegacao;
    animation-duration: 4s;
}

.navegation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 16px;
}

.navegation a {
    color: #ec9a29;
    text-decoration: none;
}

.navegation a:hover {
    color: #2EC4B6;
}

.navegation li.threeline-icon {
    display: none;
}

body {
    background-color: #011627
}

.capa {
    color: #2EC4B6;
}

.capa span {
    color: #ec9a29;
    display: block;

}

.capa div {
    display: inline-block;
    height: 650px;
}

.profile-pic {

    width: 40%;
    text-align: center;

    animation-name: profile-capa;
    animation-duration: 5s;
}

.profile-title {

    vertical-align: top;
    width: 59%;
    margin-top: 150px;
    
    animation-name: titulo-capa;
    animation-duration: 2s;
}


.profile-title h1 {
    font-size: 58px;
    text-transform: uppercase;
    margin-top: 80px;
    font-weight: 400;
    line-height: 58px;
}

.profile-title h2 {
    font-size: 20px;
    font-weight: 100;
}

.profile-pic img {
    width: 300px;
    border-radius: 400px;
    margin-top: 110px;
}

.Main {
    padding-top: 45px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;

    animation-name: conteudo;
	animation-duration: 2s;

}

.cv-pic {
    float: right;


}

.Main h1 {
    color: white;
    font-weight: normal;
}

.Main h2 {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;

}

.Main h3 {
    color: #ec9a29;
    font-size: 20px;
    text-transform: uppercase;
}

.Main p {
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 26px;
    text-align: justify;
}

.caminho {
    list-style: none;
    padding-left: 0;
    color: gray;

}

.caminho li {
    display: inline-block;
}

.caminho a {
    color: gray;
}

.social-img {
	width: 50px;
	margin-right: 10px;
}

.miniatura {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	background-size: contain;
	overflow: hidden;
}

.miniatura a {
	text-decoration: none;
}

.blackbox {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
    transition: 1s;
}

.blackbox:hover {
    opacity: 0.8;
    transition: 1s;
    
}

.blackbox-text {
    text-align: center;
}

.blackbox-text h1 {
    font-size: 16px;
    color: #ec9a29;
    text-transform: uppercase;
    margin-top: 0%;
}

.blackbox-text h2 {
    font-size: 16px;
    color: #ec9a29;
    text-transform: none;
    margin-top: 0%;

}

.back-link {
    color: #f27609;
}

@keyframes profile-capa {
	0% {opacity: 0; transform: translate(0px,20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes titulo-capa {
	0% {opacity: 0; transform: translate(0px,-20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
} 

@keyframes conteudo {
	0% {opacity: 0; transform: translate(-20px,0px)}
	100% {opacity: 1; transform: translate(0px,0px)}
} 

@keyframes navegacao {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1}
} 

@media (max-width: 1000px) {


    .navegation li {
        display: none;
    }
    
    .navegation li.threeline-icon {
        display: inline-block;
    }
    
    
    .capa div {
        display: block;
        height: auto;
    }
    
    .profile-pic {
        width: 100%;
    }
    
    .profile-pic img {
        max-width: 75%;
        margin-top: 0;
        max-width: 80%;
    }
    
    .profile-title {
        text-align: center;
        width: 100%;
    }
    
    .profile-title h1 {
        margin-top: 30px;
        font-size: 36px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .profile-title h2 {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .main {
        padding: 10px 5% 40px 5%;
        overflow-wrap: break-word;
          word-wrap: break-word;
    
    
    }
    
    .main p {
        text-align: left;
        line-height: 30px;
    
    }
    
    .caminho li {
        font-size: 12px;
    }
    
    .cv-pic {
        float: none;
        max-width: 100%;
        margin-right: 0px;
    }
    
    .miniatura {
        max-width: 100%;
        background-size: auto 100%;
    }
    
    .blackbox {
        opacity: 0.8;
    }
    
    .menujs {
        height: auto;
    }
    
    .menujs ul {
        height: auto;
        text-align: center;
        padding-right: 15%;
        padding-left: 15%;
    
    }
    
    .menujs li {
        display: block;
        border-bottom: solid grey 1px;
        width: 100%;
        padding: 0;
    
    }
    
    
    
    }